/* --------------------------------------------------------------------------------------------- */
/* RESET CSS */
/* --------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------------------------------------------------------------------------------------------- */
/* VARIABLES */
/* --------------------------------------------------------------------------------------------- */

:root {
    --bg-black: #000000;
    --text-black: #000000;

    --bg-dark: #212121;
    --text-dark: #212121;

    --bg-error: #ff8a80;
    --text-error: #810e0e;

    --bg-success: #b9f6ca;
    --text-success: #1b5e20;

    --bg-warning: #ffff8d;
    --text-warning: #867000;

    --bg-white: #ffffff;
    --text-white: #ffffff;
}

/* --------------------------------------------------------------------------------------------- */
/* GRID SYSTEM */
/* --------------------------------------------------------------------------------------------- */

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    max-width: 8.33333%;
}

.col-2 {
    max-width: 16.66667%;
}

.col-3 {
    max-width: 25%;
}

.col-4 {
    max-width: 33.33333%;
}

.col-5 {
    max-width: 41.66667%;
}

.col-6 {
    max-width: 50%;
}

.col-7 {
    max-width: 58.33333%;
}

.col-8 {
    max-width: 66.66667%;
}

.col-9 {
    max-width: 75%;
}

.col-10 {
    max-width: 83.33333%;
}

.col-11 {
    max-width: 91.66667%;
}

.col-12 {
    max-width: 100%;
}